{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
        day8.re-frame/http-fx {:mvn/version "0.2.4"}
        slipset/deps-deploy {:mvn/version "0.2.2"}
        thheller/shadow-cljs {:mvn/version "2.28.21"}}}
